## 数据预处理

In [27]:
import os
os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file = os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

## 处理缺失项

In [28]:
inputs , outputs = data.iloc[:, 0:2],data.iloc[:,2] #iloc 是位置索引先行后列，inputs是前两列，outputs是第二列
inputs = inputs.fillna(inputs.mean()) #mean 函数用于求该列的平均数，fillna让该列用数据替换空的
inputs

C:\Users\11858\AppData\Local\Temp\ipykernel_9452\635241022.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  inputs = inputs.fillna(inputs.mean()) #mean 函数用于求该列的平均数，fillna让该列用数据替换空的

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [29]:
inputs = pd.get_dummies(inputs,dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [30]:
import torch
X,y = torch.tensor(inputs.values),torch.tensor(outputs.values) #values 是以列表返回所有值
X,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

In [31]:
data.dropna(axis=1,thresh=3, subset=None, inplace=False)

    Price
0  127500
1  106000
2  178100
3  140000